In [104]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "../Resources/schools_complete.csv"
student_data_to_load = "../Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

District Summary

In [105]:
# total number of schools
school_count = school_data.school_name.count()
school_count

15

In [106]:
# total number of students
student_count = school_data_complete.student_name.count()
student_count

39170

In [107]:
# total budget
total_budget = school_data.budget.sum()
total_budget

24649428

In [108]:
# average math score
average_math_score = school_data_complete.math_score.mean()
average_math_score

78.98537145774827

In [109]:
# average reading score
average_reading_score = school_data_complete.reading_score.mean()
average_reading_score

81.87784018381414

In [110]:
# percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [111]:
# percentage of students who passed reading (reading scores greater than or equal to 70)
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [112]:
# percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [113]:
district_summary = pd.DataFrame({"Total Schools": [school_count], "Total Students": [student_count], 
                                 "Total Budget": [total_budget], "Average Math Score": [average_math_score], 
                                "Average Reading Score": [average_reading_score], "% Passing Math": [passing_math_percentage], 
                                "% Passing Reading": [passing_reading_percentage], "% Overall Passing": [overall_passing_rate]})

district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

School Summary

In [114]:
school_types = school_data.set_index(["school_name"])["type"]

In [115]:
# total student count
per_school_counts = school_data_complete["school_name"].value_counts()

In [116]:
# total school budget and per capita spending
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_school_capita = per_school_budget / per_school_counts

In [117]:
# average test scores per school
per_school_math = school_data_complete.groupby(["school_name"]).mean()["math_score"]
per_school_reading = school_data_complete.groupby(["school_name"]).mean()["reading_score"]

In [118]:
# number of schools with math scores of 70 or higher
school_passing_math = school_data_complete[(school_data_complete["math_score"] >= 70)]

In [119]:
# number of schools with reading scores of 70 or higher
school_passing_reading = school_data_complete[(school_data_complete["reading_score"] >= 70)]

In [120]:
# schools that passed math and reading
passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)]

In [121]:
# passing rates
per_school_passing_math = school_passing_math.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
per_school_passing_reading = school_passing_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
overall_passing_rate = passing_math_and_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100

In [30]:
# per school summary
per_school_summary = pd.DataFrame({"School Type": [school_types], "Total Students": [per_school_counts], 
                                   "Total School Budget": [per_school_budget], "Per Student Budget": [per_school_capita], 
                                   "Average Math Score": [per_school_math], "Average REadinig Score": [per_school_reading], 
                                   "% Passing Math": [per_school_passing_math], "% Passing Reading": [per_school_passing_reading], 
                                   "% Overall Passing": [overall_passing_rate]})

per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

per_school_summary

TypeError: unsupported format string passed to Series.__format__